<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    <title>ERROR</title>
</head>
<body>
    <header>
        <h2>Error {{ .Code }}</h2>  
        <h2>{{ .Message }}</h2>
        <a href="/">Back</a>
        {{template "header" .}}
    </header>

</body>
</html>